<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
</head>
<body>
<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="PATCH" th:object="${person}">
    <p>
        <label for="name">Полное имя: </label>
        <input type="text" id="name" th:field="*{fullName}">
    </p>
    <p>
        <label for="yearOfBirth">Год рождения: </label>
        <input type="number" id="yearOfBirth" th:field="*{yearOfBirth}">
    </p>

    <input type="submit" value="Изменить пользователя">
</form>
</body>
</html>