<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}">TITLE</title>
</head>
<body>
    <div class="person-data">
        <p>Имя:
            <b th:text="${person.getFullName()}">
                FULL_NAME
            </b></p>
        <p>Год рождения:
            <b th:text="${person.getYearOfBirth()} + ' (' + ${currentYear - person.getYearOfBirth()} + ' года\лет)'">
                2000 (23 года\лет)
            </b>
        </p>
    </div>
</body>
</html>