<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST" th:object="${book}">
    <div>
        <label for="name">Название книги: </label>
        <input type="text" id="name" th:field="*{name}">
        <p style="color: red"
           class="errors"
           th:if="${#fields.hasErrors('name')}"
           th:errors="*{name}">
            ERROR
        </p>
    </div>
    <div>
        <label for="author">Автор книги: </label>
        <input type="text" id="author" th:field="*{author}">
        <p style="color: red"
           class="errors"
           th:if="${#fields.hasErrors('author')}"
           th:errors="*{author}">
            ERROR
        </p>
    </div>
    <div>
        <label for="yearOfCreated">Год написания: </label>
        <input type="number" max="30000" id="yearOfCreated" th:field="*{yearOfCreated}">
        <p style="color: red"
           class="errors"
           th:if="${#fields.hasErrors('yearOfCreated')}"
           th:errors="*{yearOfCreated}">
            ERROR
        </p>
    </div>
    <div>
        <label for="holderId">ID держателя книги: </label>
        <input type="number" max="2140000000" id="holderId" th:field="*{holderId}">
        <p style="color: red"
           class="errors"
           th:if="${#fields.hasErrors('holderId')}"
           th:errors="*{holderId}">
            ERROR
        </p>
    </div>

    <input type="submit" value="Добавить книгу в каталог">
</form>
</body>
</html>