<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}">TITLE</title>
</head>
<body>
<div class="person-data">
    <p>Название:
        <b th:text="${book.getName()}">
            NAME
        </b>
    </p>
    <p>Автор:
        <b th:text="${book.getAuthor()}">
            AUTHOR
        </b>
    </p>
    <p>Год написания книги:
        <b th:text="${book.getYearOfCreated()}">
            YEAR
        </b>
    </p>
    <p>Держатель:
        <b th:text="${holder != null ? holder.getFullName() : 'в библиотеке'}">
            HOLDER
        </b>
    </p>
</div>
</body>
</html>